<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2 class="section-heading text-center">It's the people who MAKE the place</h2>
                <hr class="light">
                <p class="text-faded">

                  <h4>Hi, according to my passport, my full name is Master Weeraphon Iamnak (i-am-nak). My friends just call me Weeri.</h4>

<h5>I travel and make videos. Not just any kind of travel video. My focus is on the beauty of people in their habitat, because I believe that the world would be a more happy place when people have more empathy for one another.
<br><br>
By traveling, experiencing, listening, learning and sharing I want to discover how people work, sleep, eat and spend their free time.
<br><br>
I want to share my journey with you and hopefully inspire you to travel some more.</h5>
</p>
              <div class="text-center">
                <a href="#" class="btn-border btn-nobg btn-xl">About me</a>
                <a href="#videos" class="btn btn-default btn-xl">Watch my videos!</a>
              </div>
            </div>
        </div>
    </div>
</section>
