<section id="editor">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-camera wow bounceIn text-primary"></i>
                    <h3>Video editing</h3>
                    <p class="text-muted">With my eye for detail and organized working habits, I create high quality video eding for you, FAST.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Printed matter</h3>
                    <p class="text-muted">Posters, folders, flyers and books still matter. Give people something which is eye catching and serves a greater goal.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">It's all about helping you to reach your audience. Everything I do is to support you in reaching your goals.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-clock-o wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>24/7/365</h3>
                    <p class="text-muted">Progress is the key to succes. It's my priority to answer you as quickly as possible.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<aside class="bg-white">
    <div class="container text-center">
        <div class="call-to-action">
            <h2>How can I help you?</h2>
            <a href="#contact" class="btn btn-black btn-xl wow tada">Contact now!</a>
        </div>
    </div>
</aside>
